<div [formGroup]="form">
  <select class="form-control select2" style="width: 100%;" [formControlName]="name">
    <option>Alaska</option>
    <option>California</option>
    <option>Delaware</option>
    <option>Tennessee</option>
    <option>Texas</option>
    <option>Washington</option>
  </select>
</div>

<!-- <input type="text" class="form-control" name="type_documents" #name="ngModel" [(ngModel)]="patientService.selectedPatient.type_documents" placeholder="Tipo de documento"> -->
<!-- <div [formGroup]="form">
  <input type="text" class="form-control" [formControlName]="name" placeholder="{{label}}">
</div> -->
<!-- <input type="text" class="form-control" name="type_documents" placeholder="Tipo de documento"> -->