<section class="content">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ box_title }}</h3>
        </div>
        <form [formGroup]="form" (ngSubmit)="add()">
            <!-- https://stackblitz.com/angular/amxvmoekyln?file=src%2Fapp%2Fquestion-control.service.ts -->
          <div class="box-body">
            <div class="row">
              <div class="col-lg-1 col-xs-3" align="center">
                <button type="submit" class="btn btn-success" [disabled]="bloqueo_btn">Guardar</button>
                <!-- <app-buttons [module]="module"></app-buttons> -->
              </div>
              <div class="col-lg-11 col-xs-9" style="overflow-y: scroll;overflow-x: hidden;height: 350px;">
                
                <div class="form-group" *ngFor="let col of columns">
                  <label>{{col.label}}</label>
                  <div *ngFor="let attri of col.type_data">
                    <div *ngIf="attri.type=='Input'">
                      <app-input [attribute]="attri" [label]="col.label" [name]="col.name" [form]="form"></app-input>
                    </div>
                    <div *ngIf="attri.type=='Select'">
                      <app-select [attribute]="attri" [label]="col.label" [name]="col.name" [form]="form"></app-select>
                    </div>
                    <div *ngIf="attri.type=='Date'">
                      <app-date [attribute]="attri" [label]="col.label" [name]="col.name" [form]="form"></app-date>
                    </div>
                    <div *ngIf="attri.type=='Email'">
                      <app-email [attribute]="attri" [label]="col.label" [name]="col.name" [form]="form"></app-email>
                    </div>
                    <div *ngIf="attri.type=='Phone'">
                      <app-phone [attribute]="attri" [label]="col.label" [name]="col.name" [form]="form"></app-phone>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>