<section class="content-header">
  <h1>
    Gestión de pacientes
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/dashboard">
        <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
  </ol>
</section>

<section class="content">
  <div class="btn-group-horizontal">
    <a class="btn btn-primary" routerLink="/patient/createview">Crear</a> 
    <button type="button" class="btn btn-info">Info</button>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista Pacientes</h3>
        </div>
        <div class="box-body">
          <kendo-grid
            [data]="gridData"
            [height]="410"
            [loading]="loading"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)"
            >
            <kendo-grid-column field="m_PacientesNumeroDocumento" title="Número de documento" width="40"></kendo-grid-column>
            <kendo-grid-column field="m_PacientesNombreCompleto" title="Nombre completo" width="40"></kendo-grid-column>
            <kendo-grid-column field="m_PacientesFechaNacimiento" title="Fecha Nacimiento" width="40" [filterable]="false"></kendo-grid-column>
            <kendo-grid-column field="m_PacientesDireccion" title="Dirección" width="40"></kendo-grid-column>

            <kendo-grid-command-column title="command" width="220">
              <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand [primary]="true">Detalle</button>
                  <a [routerLink]="['detailview', item.IdPacientes ]">{{item.m_PacientesIdPacientes}}</a>

              </ng-template>
          </kendo-grid-command-column>

          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</section>

