<section class="content">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ box_title }}</h3>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.label}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let char of characters">
                <td *ngFor="let col of columns">
                  <li *ngIf="col.name!=to_link;then toName else toLink"></li>
                  <ng-template #toName>{{char[col.name]}}</ng-template>
                  <ng-template #toLink><a [routerLink]="['detailview', char['id']]">{{char[col.name]}}</a></ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>