<section class="content">
  <div class="row">
    <div class="col-lg-6 col-xs-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ box_title }}</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-lg-2 col-xs-2" align="center">
              <app-buttons [module]="module"></app-buttons>
            </div>
            <div class="col-lg-10 col-xs-10" style="overflow-y: scroll;overflow-x: hidden;height: 350px;">
              <div class="form-group" *ngFor="let col of columns">
                <label>{{col.label}}</label>
                <div *ngFor="let char of characters">
                  {{char[col.name]}}
                  <!-- <input type="text" class="form-control" name="type_documents" placeholder="Tipo de documento"> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Barras</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <div id="chartContainerBarra" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pie</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <div id="chartContainerPie" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>    
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xs-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Linea</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <div id="chartContainerLine" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</section>